{% load static %}
{% block content %}
{% include 'navbar3.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <title>cardiology</title>

    <style>
        .tytle h1{
            background-position:unset;
            margin-top: 90px;
            /* height: 5px; */
            text-align: center;
            color:rgb(25, 25, 155);
        }
        .ex h5{
            text-align: center;
            
        }
        .image1{
            margin-right: 50%;
            margin-left: 35%;
            width: 600px; 
            
        }
    </style>
</head>

<body>
    <div class="tytle"><h1>CARDIOLOGY</h1></div>
    <br>
    <br>
    
    <img class="image1" src="/static/images/cardiology2.jpeg" alt="image">
    <br>
    <br>
    <div class="ex">
        <h5><p> Cardiology is a branch of medicine that deals with disorders of the heart and the cardiovascular system. </p>
            <p> The field includes medical diagnosis and treatment of congenital heart defects, coronary artery disease,</p>
            <p> heart failure, valvular heart disease and electrophysiology. Physicians who specialize in this field of medicine are </p>
            <p> called cardiologists, a specialty of internal medicine. Pediatric cardiologists are pediatricians who specialize in cardiology.</p>
            <p> Physicians who specialize in cardiac surgery are called cardiothoracic surgeons or cardiac surgeons, a specialty of general surgery.</p>    
            <p> As the center focus of cardiology, the heart has numerous anatomical features (e.g., atria, ventricles, heart valves)</p>
            <p> and numerous physiological features (e.g., systole, heart sounds, afterload) that have been encyclopedically documented for many centuries.</p>
            <p> Disorders of the heart lead to heart disease and cardiovascular disease and can lead to a significant number of</p>
            <p> cardiovascular disease is the leading cause of death in the U.S. and caused 24.95% of total deaths in 2008.</p>
            <p> The primary responsibility of the heart is to pump blood throughout the body. It pumps blood from the body  called the</p> 
            <p> systemic circulation — through the lungs — called the pulmonary circulation — and then back out to the body. This means that the heart is</p>
            <p> connected to and affects the entirety of the body. Simplified, the heart is a circuit of the circulation. While plenty is known about the healthy</p>
            <p> heart, the bulk of study in cardiology is in disorders of the heart and restoration, and where possible, of function.</p>
            <p> The heart is a muscle that squeezes blood and functions like a pump.</p>
            <p> The heart's systems can be classified as either electrical or mechanical, and both of these systems are susceptible to failure or dysfunction.</p>
            <p> The electrical system of the heart is centered on the periodic contraction (squeezing) of the muscle cells that is caused by the </p>
            <p> cardiac pacemaker located in the sinoatrial node. The study of the electrical aspects is a sub-field of electrophysiology called </p>
            <p> cardiac electrophysiology and is epitomized with the electrocardiogram (ECG/EKG). The action potentials generated in the pacemaker propagate throughout the</p>
            <p> heart in a specific pattern. The system that carries this potential is called the electrical conduction system. Dysfunction of the electrical system manifests</p>
            <p> in many ways and may include Wolff–Parkinson–White syndrome, ventricular fibrillation, and heart block.</p>
            <p> The mechanical system of the heart is centered on the fluidic movement of blood and the functionality of the</p>
            <p> heart as a pump. The mechanical part is ultimately the purpose of the heart and many of the disorders of the heart disrupt</p>
            <p> the ability to move blood. Heart failure is one condition in which the mechanical properties of the heart have failed or are failing,</p> 
            <p> which means insufficient blood is being circulated. Failure to move a sufficient amount of blood through the body can cause damage or failure of other organs</p>
            <p> and may result in death if severe.</p></h5>
    
    </div>
    
</body>

</html>

{% endblock content %}