{% load static %}
{% block content %}
{% include 'navbar3.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <title>maternity department</title>

    <style>
        .tytle h1{
            background-position:unset;
            margin-top: 90px;
            text-align: center;
            color:rgb(25, 25, 155);
        }
        .ex h5{
            text-align: center;
            
        }
        .image1{
            margin-right: 50%;
            margin-left: 35%;
            width: 600px; 
            
        }
    </style>
</head>

<body>
    <div class="tytle"><h1>MATERNITY DEPARTMENT</h1></div>
    <br>
    <br>
    
    <img class="image1" src="/static/images/maternity department2.jpeg" alt="image">
    <br>
    <br>
    <div class="ex">
        <h5><p>There are four maternity wards at Shaare Zedek Medical Center and two at Bikur Cholim.</p>
            <p>Each ward has spacious rooms, up to three beds per room.</p> 
            <p>Each room is equipped with comfortable nursing chairs, personal dressers, a bathroom and a shower.</p> 
            <p>newborn can stay by your side throughout the day except during the medical examinations. These are performed in the</p>
            <p>and during the night, unless you have requested rooming-in.</p>
            <p>babies are treated at the nurseries attached to the maternity wards, or at the NICU if needed.</p>
            <p>For your comfort, we offer you bathrobes, towels, regular and frozen pads (to alleviate swelling around the stitches), a kitchenette</p>
            <p>with a water cooler, hot beverages, a fridge for personal food items and a detailed instruction brochure about caring for
            <p>yourself and your baby (please ask the nurse for this).</p>
            <p>In addition to regular hospitalization post-partum you can choose the rooming-in method, in which the baby stays with the</p>
            <p>mother post-partum.</p>
            <p>You can choose between complete and partial rooming-in. Apart for two hours, between 8:00-10:00 in the morning,</p>
            <p>that the baby has to stay in the neonatal unit for a doctor’s evaluation.</p></h5>
    
    </div>
    
</body>

</html>

{% endblock content %}