{% load static %}
{% block content %}
{% include 'navbar3.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <title>pediatrics</title>

    <style>
        .tytle h1{
            background-position:unset;
            margin-top: 90px;
            text-align: center;
            color:rgb(25, 25, 155);
        }
        .ex h5{
            text-align: center;
            
        }
        .image1{
            margin-right: 50%;
            margin-left: 35%;
            width: 600px; 
            
        }
    </style>
</head>

<body>
    <div class="tytle"><h1>PEDIATRICS</h1></div>
    <br>
    <br>
    
    <img class="image1" src="/static/images/pediatrics2.jpeg" alt="image">
    <br>
    <br>
    <div class="ex">
        <h5><p>Pediatrics is the branch of medicine that involves the medical care of infants, children, adolescents, and young adults. </p>
            <p>In the United Kingdom, paediatrics covers many of their youth until the age of 18.</p>
            <p>The American Academy of Pediatrics recommends people seek pediatric care through the age of 21, but some pediatric subspecialists</p>
            <p>continue to care for adults up to 25. </p>
            <p>Worldwide age limits of pediatrics have been trending upward year after year.</p>    
            <p>A medical doctor who specializes in this area is known as a pediatrician, or paediatrician.</p>
            <p>Pediatricians work in clinics, research centers, universities, general hospitals and children's hospitals, including those</p>
            <p>who practice pediatric subspecialties.</p>
            <p>A major difference between the practice of pediatric and adult medicine is that children </p>
            <p>in most jurisdictions and with certain exceptions, cannot make decisions for themselves. </p> 
            <p>The issues of guardianship, privacy, legal responsibility, and informed consent must always</p>
            <p>be considered in every pediatric procedure. Pediatricians often have to treat the parents and sometimes, </p>
            <p>family, rather than just the child.</p>
            <p>Adolescents are in their own legal class, having rights to their own health care decisions in certain</p>
            <p>circumstances. The concept of legal consent combined with the non-legal consent (assent) of the</p>
            <p>child when considering treatment options, especially in the face of conditions with poor prognosis or complicated</p>
            <p>and painful procedures/surgeries, means the pediatrician must take into account the desires of many people, in addition to </p>
            <p>of the patient.</p></h5>
    
    </div>
    
</body>

</html>

{% endblock content %}